install:
- pip install --user awscli
- wget https://github.com/gohugoio/hugo/releases/download/v0.58.3/hugo_0.58.3_Linux-64bit.deb
- sudo dpkg -i hugo*.deb
- hugo version
before_script:
- rm -rf public
- hugo
script:
- aws s3 sync public/ s3://hugotestsite --acl public-read --delete
- aws cloudfront create-invalidation --distribution-id 	EX413NN0WPE2O --paths '/*'
branches:
 only:
 - master
